{% load static %}
<header>
    <body>
        <header class="header">
         <div class="logo"><a href="/">
            <p style="color: #ffea00;">{</p>
            <p class="firstName" >Арсен</p>
            <p>:</p>
            <p class="lastName">Григорян</p>
            <p style="color: #ffea00">}</p>
            <p>;</p>
        </a>
         
         </div>
         <nav class="menu">
          <ul>
           <li><a href="/">Обо мне</a></li>
           <li><a href="/skills">Технологии</a></li>
           <li><a href="#">Опыт работы</a></li>
           <li><a href="/training">Образование</a></li>
           <li><a href="#">Контакты</a></li>
          </ul>
         </nav>
            <button class="textButton">Связаться со мной</button>
        </header>
      </body>
</header>