{% extends 'base.html' %}
{% block title %}{{ title }}{% endblock %}
{% block content %}

    <h1>{{ title }}</h1>
        <div class="training" >
        
            <p>
                Я долго работал в продажах и в один момент мне перестало нравиться то, чем я занимаюсь. Я перерос эту деятельность. Мне нужно было реализовать свой потенциал и я начал искать, то в чем я захочу остаться. Тем более я всегда интересовался it технологиями.
                Начал заниматься разработкой в декабре 2021 года. Питон мне нравится тем. что в нем нет таких вещей например, как обязательное
                нотирование. Его легко читать. Но и в тоже время он достаточно функционален.
                
                Сейчас я читаю книгу «Грокаем алгоритмы». После начну читать "Чистый код"
                Смотрю каналы на youtube: "Диджитализируй", "Selfedu", "Алексей Корепанов"
                Ищу необходимую информацию на сайтах stackoverflow и habr
                Осваиваю Redis и Celery. В дальнейшем освою FastAPI, React(JavaScript для React разумеется)
                
                Как я смог все это освоить? Мне помогли мои личные демоны. Немного расскажу о них:
                - Умею организовывать себя и других людей, это позволяет эффективно работать с максимальной отдачей.
                - Инициативен и умею нести ответственность за свою работу. Например, был тимлидом в учебном, совместном проекте.
                - Проводил небольшой workshop по Python для всей когорты
                
                Что касается моих личных увлечений, я люблю ходить в походы в горы с палатками на 2-3 дня.
            </p>
        
        </div>
            
{% endblock %}