{% extends 'base.html' %}
{% block title %}{{ title }}{% endblock %}
{% block content %}

    <h1>{{ title }}</h1>
    {% for training in all_training %}
        <div class="training" >
            <dl class="trainingText">
                <dt class="titleDt" >Курс:</dt>
                <dd>{{ training.title }}</dd>
            </dl> 
            <dl class="trainingText">
                <dt class="titleDt" >Школа:</dt>
                <dd>{{ training.school }}</dd>
            </dl> 
            <dl class="trainingText">
                <dt class="titleDt" >Период обучения:</dt>
                <dd>{{ training.begin|date:"d E Y" }} - {{ training.end|date:"d E Y" }}</dd>
            </dl>
            <img src="{{ training.certificate }}">
        </div>
            
    {% endfor %}
{% endblock %}